h1 {
  text-decoration: none;
  color: black;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  display: inline;
  width: 100%;
  margin: auto;
}
hr {
 margin:40px;
}
.test{
  display:block;
  width:90px;
  margin:0 auto;
}
.song {
  margin-left:0px;
  margin-top:0px;
}
.ask1{
  width:500px;
  margin:0 auto;
  text-align:center;
}

.ask1 img{
  width:500px;
}
* {
  letter-spacing:-1.2px;
  font-family:"dunggeunmo";
  src: local("dunggeunmo"), url(dunggeunmo.eot), url("dunggeunmo.woff"), format("dunggeunmo.woff"), url("dunggeunmo.ttf") format("truetype");
}
