h1 {
  text-decoration: none;
  color: black;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  display: inline;
  width: 100%;
  margin: auto;
}
hr {
 margin:40px;
}
select {
  text-align:center;
  margin-left:0px;
}
.song {
  margin-left:0px;
  margin-top:0px;
}
.ask {
  margin-left:0px;
  margin-top:0px;
  margin-bottom:0px;
}
* {
  letter-spacing:-1.2px;
  font-family:"dunggeunmo";
  src: local("dunggeunmo"), url(dunggeunmo.eot), url("dunggeunmo.woff"), format("dunggeunmo.woff"), url("dunggeunmo.ttf") format("truetype");
}
